@charset "ISO-8859-1";

h1{
	font-size: 50px;
}
img{
	width:50%;
	margin-left:35%;
}
.myform input{
	border-radius:15px;
	background: #34495e;
	border-color: aqua;
}
.myform textarea{
	border-radius:15px;
	background: #34495e;
	border-color: aqua;
}
body{
	background: #34495e;
	color:white;
}
button{
	background: #34495e;
}