@charset "ISO-8859-1";

.card img{
	width:100%;
	height:30vh;
	display:inline-block;
}
.card h5,p{
	padding:1%;
	color:black;
}
.card-footer{
	margin:3%;
}
.card{
	border: 8px solid rgba(245, 245, 245, 0.11);
	background: white;
	width: 80%;
	height: 80%;
}
body{
	color:white;
}
.col-sm-4{
	margin-top:2%;
}